@model HotelInfo.Models.VisitorCountReportModel

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("VisitorCountReport", "Reports", null, FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.From)</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.From, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.To)</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.To, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 ">
                    <input type="submit" class="btn btn-primary" value="Поиск"/>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $('[name=To]').removeAttr("data-val-date");
    $('[name=From]').removeAttr("data-val-date");
</script>